location = "{{ region }}"
vnet_address_space = "{{ vpc_cidr }}"
vpc_name = "{{ vpc_network_name }}"
resource_group_name = "{{ resource_group_name }}"
subscription_id = "{{ az_subscription_id }}"
